@model SpiceMVCWithAuthentication.ViewModel.MenuViewModel
@{ ViewBag.Title = "Index"; }

<h2>Spice Restaurant</h2>

<br />
<div class="text-center">
    <a href="/Home/Menu" class="btn btn-primary">Show All</a>
    <a href="/Home/GetMenuItemByCategory?name=Apetizer" class="btn btn-primary">Apetizer</a>
    <a href="/Home/GetMenuItemByCategory?name=Main Course" class="btn btn-primary">MainCourse</a>
    <a href="/Home/GetMenuItemByCategory?name=Desert" class="btn btn-primary">Dessert</a>
    <a href="/Home/GetMenuItemByCategory?name=Beverages" class="btn btn-primary">Beverages</a>

</div>
<br />
<br />
<br />
@*<body style="background-color:sandybrown"></body>*@
<div class="jumbotron">
    <div class="container  table-bordered border" style="border-color:black;">


        <table class="table  table-striped-color:pink">

            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                @*<th>Department Name</th>*@
            </tr>

            @foreach (var item in Model.MenuItem)
            {

                <tr>
                    <td>
                        <img src="@Url.Content(item.Image)" style="width:100px; height:100px;border-radius:50px" />


                    </td>
                    <td style="width:200px">
                        <div>
                            @*<i style="color: Green;" class="fas fa-pepper-hot"></i>*@
                            <h3 style="color:darkblue">@Html.DisplayFor(m => item.Name)
                            @if (item.Spicyness == "Spicy")
                            {
                                <i style="color: Red;" class="fas fa-pepper-hot" title="@item.Spicyness"></i>
                            }
                            @if (item.Spicyness == "Very Spicy")
                            {
                                <i style="color: Orange;" class="fas fa-pepper-hot"title="@item.Spicyness"></i>
                            }
                            @if (item.Spicyness == " Not Spicy")
                            {
                                <i style="color:Green ;" class="fas fa-pepper-hot"title="@item.Spicyness"></i>
                            }
                            </h3>
                            @*<h4 style="color:darkblue">
            @Html.DisplayFor(m => item.Name)
        </h4>*@
                        </div>
                    </td>



                    <td style="text-align:center">
                        @Html.DisplayFor(m => item.Description)
                    </td>
                    <td style="text-align:center;width:100px">
                        <h4 style="color:darkred">
                            @*@Html.DisplayFor(m => item.Price)*@
                           @string.Format("{0:C}" ,item.Price)
                        </h4>
                    </td>
                    <td>@Html.ActionLink("ShowDetails", "Details", "Home", new { id = item.Id }, new { @class = "btn btn-primary" })</td>

                </tr>


            }

        </table>
        </div>






        </div>































@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@